<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="w3.org/2001/XMLSchema-instance" xmlns="xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="xmlns.jcp.org/xml/ns/javaee xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pidemo</display-name>
  <servlet>
  	<servlet-name>DataExfiltration</servlet-name>
  	<servlet-class>com.pingidentity.pingintelligence.demo.servlets.DataExfiltration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataExfiltration</servlet-name>
  	<url-pattern>/DataExfiltration</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DecoyApi</servlet-name>
  	<servlet-class>com.pingidentity.pingintelligence.demo.servlets.DecoyApi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DecoyApi</servlet-name>
  	<url-pattern>/DecoyApi</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StolenToken</servlet-name>
  	<servlet-class>com.pingidentity.pingintelligence.demo.servlets.StolenToken</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StolenToken</servlet-name>
  	<url-pattern>/StolenToken</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserAccount</servlet-name>
  	<servlet-class>com.pingidentity.pingintelligence.demo.servlets.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserAccount</servlet-name>
  	<url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.pingidentity.pingintelligence.demo.listeners.AppContextListener</listener-class>
  </listener>  
  <context-param>
    <param-name>apiServer</param-name>
    <param-value>18.130.219.81</param-value>
  </context-param>  
  <context-param>
    <param-name>apiPort</param-name>
    <param-value>8065</param-value>
  </context-param>  
  <context-param>
    <param-name>endpointTransactions</param-name>
    <param-value>/v3/transactions</param-value>
  </context-param>
  <context-param>
    <param-name>endpointAccount</param-name>
    <param-value>/v3/accounts</param-value>
  </context-param>
  <context-param>
    <param-name>endpointDecoy</param-name>
    <param-value>/api/orders</param-value>
  </context-param>  
  <context-param>
    <param-name>clientIp</param-name>
    <param-value>218.8.8.8</param-value>
  </context-param>  
</web-app>
